.form {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px 0 30px;
  width: 100%;
}

.form__title {
  font-family: inherit;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .form__title {
    font-size: 1.3rem;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #4b5052;
  gap: 5px;
  border-radius: 10px;
  padding: 0 10px;
}

.input-label {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 600;
  padding: 3px 0;
  position: relative;
}

.input-label--custom select {
  appearance: none;
}

.input-label--custom::after {
  --size: 5px;
  content: "";
  position: absolute;
  right: 13px;
  pointer-events: none;
}

.input-label--custom::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 50%;
}

.input-element {
  width: inherit;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  transition: all 250ms ease;
  padding: 0 10px;
  font-size: 1rem;
  color: #000;
  font-family: "Gilroy-thin";
  font-weight: 400;
}

.input-element--alert {
  border: 2px solid #fe5151;
}

.input-element:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border: 2px solid #b4b4b4;
  color: #b4b4b4;
  background-color: transparent;
}

.input-element::placeholder {
  color: #000;
}

.input-element__output {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.input-element__output::placeholder {
  color: #fff;
}

.input-label__select {
  min-width: 250px;
  position: relative;
}

.input-label__select select {
  appearance: none;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.input-label__select::after {
  width: 5px;
  content: "";
  position: absolute;
  right: 21px;
  pointer-events: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  top: 65%;
}
