/*  HEADER   */
.header {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.1s ease;
  padding: 10px 20px;
}

.header .logo > img {
  width: 40vw;
}
