.roi-list {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding-bottom: 30px;
}

.roi-list__item {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 15px;
  border-radius: 10px;
  min-height: 100px;
  background-color: rgba(255, 82, 0, 0.95);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  color: #000;
  font-family: "Gilroy-bold";
  letter-spacing: 1.2px;
}

.roi-list__title {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: -webkit-fill-available;
}

.roi-list__value {
  font-size: 1rem;
}

.roi-list__item--custom {
  min-height: 220px;
  gap: 10px;
}

.roi-list__item--custom .roi-list__title {
  font-size: 2.5rem;
}

.roi-list__item--custom .roi-list__value {
  font-size: 1.2rem;
}
